
.classe_geral{display: flex; flex-direction: row; padding: 10px; border: solid; }

.classe_esquerda{display: flex;
    flex-direction: column;
    flex: 1;

    padding-top: 30px;

    border-right: solid;


}
.classe_meio{


    display: flex;
    flex-direction: column;
    flex: 2;

    padding: 10px;
    font-size: 20px;
    color: white;
}
    .linkcomp{display: flex; flex-direction: column;}
    
    .link_geral{
        display: flex;
        flex-direction: column;
        flex: 1;
        
        align-items: center;
        
        padding:20px;
    }
        .link{
            display: flex;
            flex: 1;

            align-items: center;
        }
            .homi{font-size: 20px;color: gold;text-decoration: underline;}
            .homi:hover {font-size: 20px; color: white; text-decoration:underline gold;}
        
        .link1{
			display: flex;
			flex: 1;
				
			align-items: center;
				

		}
			.alma {font-size: 20px; color: white; text-decoration: none;}
			.alma :hover{font-size: 20px; color: gold; text-decoration: underline; background-color: black;}
            
        .link2{
            display: flex;
            flex: 1;

            align-items: center;
        }
            .bigodudo {font-size: 20px; color: white; text-decoration: none; }
            .bigodudo :hover{font-size: 20px; color: gold; text-decoration: underline; background-color: black;}


        .link4{
            display: flex;
            flex: 1;

            align-items: center;
            
        }
            .Estilo_do_estiloso {font-size: 20px; color: white; text-decoration: none; }
            .Estilo_do_estiloso :hover{font-size: 20px; color: gold; text-decoration: underline; background-color: black;}

        
        .link5{
            display: flex;
            flex: 1;

            justify-content: right;
        }
            .doc{font-size: 20px; color: gold;}
            .doc :hover{font-size: 20px; color: white; text-decoration: none;}

.classe_direita{
    display: flex;
    flex-direction: column;
    flex: 1;

    border-left: solid;
    
}
